@import url('../../var.css');

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    position: relative;
    bottom: 0;
    width: 90%;
    height: 40px;
    margin-top: 2rem;
  }
  
  footer > img{
    width: 200px;
    margin: 0;
  }
  footer > p{
    margin: 0;
    padding-top: 0.7rem;
  }

.dhimg {
    filter: invert(var(--filter));
}